/* Font Declarations */
@font-face {
	font-family: "playfairDisplayBold";
	src:url("../fonts/PlayfairDisplay-Bold.otf");
}
@font-face {
	font-family: "playfairDisplayBoldItalic";
	src:url("../fonts/PlayfairDisplay-BoldItalic.otf");
}
@font-face {
	font-family: "playfairDisplayItalic";
	src:url("../fonts/PlayfairDisplay-Italic.otf");
}
@font-face {
	font-family: "playfairDisplay";
	src:url("../fonts/PlayfairDisplay-Regular.otf");
}
@font-face {
	font-family: "ralewayLight";
	src:url("../fonts/Raleway-Light.ttf");
}
@font-face {
	font-family: "ralewayLightItalic";
	src:url("../fonts/Raleway-LightItalic.ttf");
}
@font-face {
	font-family: "ralewayMedium";
	src:url("../fonts/Raleway-Medium.ttf");
}
@font-face {
	font-family: "ralewayMediumItalic";
	src:url("../fonts/Raleway-MediumItalic.ttf");
}
/* Remove Body Margin */
body {
	margin: 0;
}

/* Header Styles */

header{
	padding:20px 40px;
	display: flex;
	color: red;
	font-size: 16px;
	font-family: "ralewayMedium"; 
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
	background-color: white;
}
header ul {
	list-style: none;
}
header .nav {
	transform: translateX(-18%);
}
header .nav ul {
	padding-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;;
	align-items: center;
}

header .nav ul li {
	padding: 0px 10px;
}

/* Collection Banner Styles */

#collection-banner {
	background-image: url("../images/flower-bkgd.jpg");
	background-size: contain;
	background-repeat-y: no-repeat;
	max-height: 775px;
	overflow: hidden;
	text-align: center;
	color: white;
	position: relative;
}

#collection-banner img {
	padding-top: 45px;
}

.banner-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "playfairDisplay";
	width: 100%;
}

.banner-text-top {
	font-size: 30px;
}

.banner-text-bottom {
	font-size: 80px;
	padding-top: 30px;
}

#about-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 75px 0px;
}

#about-banner-title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 50px;
}
#about-banner-text {
	padding-top: 30px;
	line-height: 45px;
	max-width: 75%;
	margin:auto;
	text-align: center;
	font-size: 25px;
	font-family: "ralewayLight";
}

/* Styles for title with two different fonts */
.multi-font-title span:first-child {
	font-size: 50px;
	font-family: "playfairDisplayItalic";
	padding-right: 20px;
}
.multi-font-title span:last-child {
	font-size: 50px;
	font-family: "playfairDisplayBold";
}

/* Category Gallery Styles */

#category-gallery {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
#category-gallery #gallery-top, #category-gallery #gallery-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#gallery-top {
	margin-right: -10px;
	margin-bottom: 10px;
}
#gallery-bottom {
	margin-left:-10px;
}
.big-img {
	width: 100%;
	height: auto;
}
.small-img {
	width: 100%;
	height: auto;
}
#gallery-img-one, #gallery-img-six {
	width: 50%;
	height: auto;
	position: relative;
}
#gallery-img-one, #gallery-img-two {
	margin-right: 10px;
}
#gallery-img-five, #gallery-img-six {
	margin-left: 10px;
}
#gallery-img-two,#gallery-img-three, #gallery-img-four, #gallery-img-five {
	width: 25%;
	height: auto;
	position: relative;
}
.img-text {
	font-family: "ralewayMedium";
	font-size: 50px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Carousel Styles */

#carousel-container {
	text-align: center;
}
#carousel-title {
	padding: 70px 0;
}
.carousel-cell {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.carousel-cell *:not(.carousel-add-to-cart) {
	padding-bottom: 15px;
}
.carousel-cell .carousel-item-name {
	font-family: "playfairDisplay";
	color: #e2574c;
	font-size: 30px;
}
.carousel-cell .carousel-category,.carousel-cell .carousel-price{
	font-family: "ralewayLight";
	font-size: 16px;
}
.main-carousel {
	margin-bottom: 100px;
}
.flickity-viewport {
	padding-bottom: 15px;
}
.flickity-page-dots {
	bottom: -50px!important;
}
.carousel-add-to-cart {
	font-family: "ralewayMedium";
	font-size: 16px;
	padding: 6px 15px;
	border-radius: 20px;
	color: white;
	background-color: black;
	cursor: pointer;
}
/* Contact Section Styles */

#form-bg-img {
	width: 100%;
}
#contact-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 500px;
	background-image: url("../images/wave-bkgd.jpg");
	background-position: center bottom;
	background-size: cover;
	text-align: center;
}
#contact-section {
	top: 50%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	max-width: 50%;
}

.contact-text {
	font-family: "ralewayLight";
	font-size: 30px;
	padding: 30px 0;
	line-height: 50px;
}

#contact-form {
	position: relative;
	width: 100%;

}
#form-container {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
}

#form-container input[type=email] {
	width: 100%;
	font-size: 30px;
	padding: 25px;
	border-radius: 50px;
	border: 0px;
	font-family: "ralewayLight";
}

#form-container input[type=submit]{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 6px;
	height: 90%;
	font-size: 30px;
	padding: 0px 40px;
	border-radius: 50px;
	background-color: #e2574c;
	color: white;
	border: 0px;
	font-family: "ralewayMedium";
}

/* Footer Style */
footer {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: black;
	padding: 50px;
}

footer .footer-left {
	font-family: "playfairDisplay";
}

footer .footer-right {
	font-family: "ralewayLight";
}
footer .footer-left .contact-info {
	padding: 30px 0;
}