/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font Declarations */
@font-face {
	font-family: "playfairDisplayBold";
	src:url("../fonts/PlayfairDisplay-Bold.otf");
}
@font-face {
	font-family: "playfairDisplayBoldItalic";
	src:url("../fonts/PlayfairDisplay-BoldItalic.otf");
}
@font-face {
	font-family: "playfairDisplayItalic";
	src:url("../fonts/PlayfairDisplay-Italic.otf");
}
@font-face {
	font-family: "playfairDisplay";
	src:url("../fonts/PlayfairDisplay-Regular.otf");
}
@font-face {
	font-family: "ralewayLight";
	src:url("../fonts/Raleway-Light.ttf");
}
@font-face {
	font-family: "ralewayLightItalic";
	src:url("../fonts/Raleway-LightItalic.ttf");
}
@font-face {
	font-family: "ralewayMedium";
	src:url("../fonts/Raleway-Medium.ttf");
}
@font-face {
	font-family: "ralewayMediumItalic";
	src:url("../fonts/Raleway-MediumItalic.ttf");
}
/* Remove Body Margin */
body {
	margin: 0;
}

/* Header Styles */

header{
	padding:20px 40px;
	display: flex;
	color: red;
	font-size: 16px;
	font-family: "ralewayMedium"; 
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
	background-color: white;
}
header ul li a {
	color: red;
	font-family: "ralewayMedium";
	text-decoration: none;
}
header ul {
	list-style: none;
}
header .nav ul {
	padding-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;;
	align-items: center;
}

header .nav ul li {
	padding: 0px 10px;
}

header .cart {
	position: relative;
}
header .cart #cart-item-count {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	background-color: red;
	padding: 2px 6px;
	border-radius: 50%;
	display: none;
	justify-content: center;
	align-items: center;
	font-family: "ralewayMedium";
}

/* Collection Banner Styles */

#collection-banner {
	background-image: url("../images/flower-bkgd.jpg");
	background-size: contain;
	background-repeat-y: no-repeat;
	max-height: 450px;
	overflow: hidden;
	text-align: center;
	color: white;
	position: relative;
}

#collection-banner img {
	padding-top: 45px;
	height: 120%;
}

.banner-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "playfairDisplay";
	width: 100%;
}

.banner-text-top {
	font-size: 30px;
}

.banner-text-bottom { 
	font-size: 3.5em;
	padding-top: 30px;
}

#about-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 75px 0px;
}

#about-banner-title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 50px;
}
#about-banner-text {
	padding-top: 30px;
	line-height: 45px;
	max-width: 75%;
	margin:auto;
	text-align: center;
	font-size: 25px;
	font-family: "ralewayLight";
}

/* Styles for title with two different fonts */
.multi-font-title span:first-child {
	font-size: 3em;
	font-family: "playfairDisplayItalic";
	padding-right: 20px;
}
.multi-font-title span:last-child {
	font-size: 3em;
	font-family: "playfairDisplayBold";
}

/* Category Gallery Styles */

#category-gallery {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
#category-gallery #gallery-top, #category-gallery #gallery-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#gallery-bottom {
	margin-top: 10px;
	margin-left: -20px;
}
.big-img {
	width: 100%;
	height: auto;
}
.small-img {
	width: 100%;
	height: auto;
}
#gallery-img-one, #gallery-img-six {
	width: 50%;
	height: auto;
	position: relative;
}

#gallery-img-two, #gallery-img-five {
	margin: 0 10px;
}

#gallery-img-two,#gallery-img-three, #gallery-img-four, #gallery-img-five {
	width: 25%;
	height: auto;
	position: relative;
}
.img-text {
	font-family: "ralewayMedium";
	font-size: 50px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Carousel Styles */

#carousel-container {
	text-align: center;
}
#carousel-title {
	padding: 70px 0;
}
.carousel-cell {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.carousel-cell *:not(.carousel-add-to-cart) {
	padding-bottom: 15px;
}
.carousel-cell .carousel-item-name {
	font-family: "playfairDisplay";
	color: #e2574c;
	font-size: 30px;
}
.carousel-cell .carousel-category,.carousel-cell .carousel-price{
	font-family: "ralewayLight";
	font-size: 16px;
}
.main-carousel {
	margin-bottom: 100px;
}
.flickity-viewport {
	padding-bottom: 15px;
}
.flickity-page-dots {
	bottom: -50px!important;
}
.carousel-add-to-cart {
	font-family: "ralewayMedium";
	font-size: 16px;
	padding: 6px 15px;
	border-radius: 20px;
	color: white;
	background-color: black;
	cursor: pointer;
}
/* Contact Section Styles */

#form-bg-img {
	width: 100%;
}
#contact-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
	background-image: url("../images/wave-bkgd.jpg");
	background-position: center bottom;
	background-size: cover;
	text-align: center;
	max-height: 500px;
}
#contact-section {
	top: 50%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	max-width: 80%;
}

#contact-section .multi-font-title {
	padding-top: 70px;
}

.contact-text {
	font-family: "ralewayLight";
	font-size: 25px;
	padding: 30px 0;
	line-height: 40px;
}

#contact-form {
	position: relative;
	width: 100%;

}
#form-container {
	max-width: 70%;
	text-align: center;
	margin: 0 auto;
}

#form-container input[type=email] {
	width: 100%;
	font-size: 30px;
	padding: 25px;
	border-radius: 50px;
	border: 0px;
	font-family: "ralewayLight";
}

#form-container input[type=email]:focus {
	outline: none;
}


#form-container input[type=submit]{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 6px;
	height: 90%;
	font-size: 30px;
	padding: 0px 40px;
	border-radius: 50px;
	background-color: #e2574c;
	color: white;
	border: 0px;
	font-family: "ralewayMedium";
}

/* Footer Style */
footer {
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: black;
	padding: 50px;
	margin-top: 10px;
}

footer .footer-left {
	font-family: "playfairDisplay";
}

footer .footer-right {
	font-family: "ralewayLight";
}
footer .footer-right .social-links * {
	padding-bottom: 10px;
}

footer .footer-right .social-links div {
	display: flex;
	justify-content: flex-start;
}
footer .footer-right .social-links div .fa {
	padding-right: 10px;
	width: 30px;
}

footer .footer-left .contact-info {
	padding: 30px 0;
}

footer .footer-left .contact-info a {
	color: white;
}

footer .footer-left .address {
	color: #696969;
}

/*Desktop Responsive Styles*/
@media screen and (min-width: 1240px) {
	header .nav {
		transform: translateX(-18%);
}
}

/*Tablet Responsive Styles*/
@media screen and (max-width: 1239px) {
	.carousel-cell {
		width: 50%;
	}
	header {
		flex-wrap: wrap;
	}
	header .nav:before {
		content: "";
	}
	header .nav {
		order: 1;
		width: 100%;
		text-align: center;
		font-size: 38px;
	}
	header .nav ul {
		width: 100%;
		margin: auto;
		justify-content: space-evenly;
	}
	header .logo {
		width: 50%;
	}
	header .cart {
		text-align: right;
		width: 50%;
	}
}

/*Mobile Responsive Styles*/
@media screen and (max-width: 599px) {
	.carousel-cell {
		width: 100%;
	}
}